<h1>My Home</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!content"><em>Loading...</em></p>

<table class='table' *ngIf="content">
    <thead>
        <tr>
            <th>Title</th>
            <th>Url</th>
            <th>User's Description</th>
            <th>Website's Description</th>
            <th>Public status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of content">
            <td>{{ item.Title }}</td>
            <td>{{ item.Url }}</td>
            <td>{{ item.UserDescription }}</td>
            <td>{{ item.WebsiteDescription }}</td>
            <td>{{ item.IsPublic }}</td>
        </tr>
    </tbody>
</table>
