<div class="jumbotron text-center">
    <div class="container">

        <h2>How To: Contribute</h2>
        <label class="col-xs-12" for="add-button">Add Content:</label>
        <button [routerLink]="['/newcontent']" type="button" id="add-button" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-plus"></span>
        </button>

    </div>
</div>

<div class="col-md-6">
    <h3>Latest</h3>
    <div *ngFor="let item of content; let i = index" class="list-group">
        <button type="button" class="list-group-item" data-toggle="modal" [attr.data-target]="'#content_' + i ">
            <span *ngIf="!item.isPublic && item.editable" class="glyphicon glyphicon-eye-close"></span>
            {{item.contentTitle}}
        </button>
        <!-- Modal -->
        <div id="content_{{i}}" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">{{ item.contentTitle }}</h3>
                        <h5>Posted By: <a data-dismiss="modal" [routerLink]="['/userhomeboards', item.userId]">{{ item.userName }}</a></h5>
                    </div>
                    <div class="modal-body">

                        <h4>{{ item.userDescription }}</h4>
                        <p><a target="_blank" href="{{ item.url }}">Link</a></p>
                        <p>{{ item.websiteDescription }}</p>
                    </div>
                    <div class="modal-footer">
                        <button *ngIf="item.editable" class="btn btn-warning" data-dismiss="modal" [routerLink]="['/editcontent', item.contentId]">Edit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!--<div class="col-md-6">
    <h3>Popular Tags</h3>
    <button class="btn btn-default">one <span class="badge">400</span></button>
    <button class="btn btn-default">two <span class="badge">399</span></button>
    <button class="btn btn-default">threethree <span class="badge">120</span></button>
    <button class="btn btn-default">four <span class="badge">10</span></button>
    <button class="btn btn-default">five <span class="badge">1</span></button>
</div>-->
