<h1>{{ userBoard.title }}</h1>
<h4>{{ userBoard.descriptionFromUser }}</h4>
<button class="btn btn-warning" [routerLink]="['/editboard', userBoard.boardId]">Edit</button>
<h4>
    Posted By: <a [routerLink]="['/user', userBoard.userId]">{{ userBoard.userName }}</a>
</h4>
<div *ngFor="let item of content">
    <div>
        <p>{{ item.contentTitle }}</p>
        <p>{{ item.descriptionFromUser }}</p>
        <p>{{ item.websiteDescription }}</p>
        <a target="_blank" href="{{ item.url }}">Link</a>
    </div>
</div>
