<h1>{{ userName }}'s contributions & Saves</h1>

<p *ngIf="!content"><em>Loading...</em></p>
<table class='table' *ngIf="content">
    <thead>
        <tr>
            <th>Title</th>
            <th>Url</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of content">
            <td>{{ item.contentTitle }}</td>
            <td><a target="_blank" href="{{ item.url }}">Link</a></td>
            <td>{{ item.userDescription }}  {{ item.websiteDescription }}</td>
            <td class="btn btn-warning" [routerLink]="['/editcontent', item.contentId]">Edit</td>
            <td><span *ngIf="item.isPublic !== true" class="glyphicon glyphicon-eye-close"></span></td>
        </tr>
    </tbody>
</table>
